#carousel-example-1z{
    height:100vh !important;
    width:100% !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 100% !important;
    z-index: 10000;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }