#carousel-example-1z{
    width:100% !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 100% !important;
    z-index: 1;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    #carousel-example-1z .carousel-item {
        height: 300px;
      }

#carousel1 img{
  height: 200px !important;
  width: 100%;
}
#titol_card{
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 5px;
  letter-spacing: 2px;
}
#tags_card{
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 35px;
  letter-spacing: 2px;
}
#service_card{
  border-right: solid black 1px;
}
.card{
  margin-top: 10px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 5px 5px 5px grey;
  margin-left: 6%;
}
#containerprojecte{
  background-color: whitesmoke;
}
@media (max-width: 800px) {
  .card{
    margin-top: 10px;
    background-color: white;
    border: 2px solid white;
    box-shadow: 5px 5px 5px grey;
    /*margin-left: 12%;*/
    justify-content: center;
    /*width: 300px;*/
  }
}
#carousel1 img{
  width: 100%;
}
.service_card
{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.service_card:hover
{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
#card_index{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media (max-width: 700px) {
    
  #carousel-example-1z .carousel-item {
    height: unset;
}
#card_index {
   margin-left: unset; 
   margin-right: unset; 
}
}