#carousel-example-1z{
    height:100vh !important;
    width:100% !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 100% !important;
    z-index: 10000;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    #carousel-example-1z .carousel-item {
        height: 300px;
      }
      #carousel1 .carousel-item {
        height: 100px;
        width: 300px;
      }