.boto_informacio {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 35%;
  }
#containerprojecte{
  margin-left: 20px;
}
#text_projecte{
    margin-left: 5%;
    font-size: 26px;
}
#text_titulo:hover{
        color: #40bfc1 !important;
    }
    @media (max-width: 800px) {
      #carousel-example-1z .carousel-item {
        height: 200px;
        min-height: 100%;
        min-width: 100%;
        margin-left: 0px;
      }
      #text_projecte{
        font-size: 24px;
        margin-left: 0%;
    }
    #containerprojecte{
      margin-right: 10px;
    }
    }