@import url("https://fonts.googleapis.com/css?family=Raleway");
#map { 
    width: 1200px;
    height: 300px;
    box-shadow: 5px 5px 5px grey;
    z-index: 1;
    margin-bottom: 10%;
 }
/* #contacte_titol  { 
    margin-left: 20% !important;
 }
 #contacte_p1 { 
    margin-left: 10%;
 }
 #contacte_p2 { 
    margin-left: 12%;
 }
 .button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  .button.type1 {
    color: #566473;
  }
  .button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #566473;
    border-right-color: #566473;
  }
  .button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
  }
  .button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
  }
  .button.type2 {
    color: #16a085;
  }
  .button.type2.type2:after, .button.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #16a085;
    transition: all 0.3s ease;
    transform: scale(0.85);
  }
  .button.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
  }
  .button.type2.type2:hover:after {
    transform: scale(1);
  }
  .button.type3 {
    color: #435a6b;
  }
  .button.type3.type3::after, .button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
  }
  .button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
  }
  .button.type3.type3:hover:after, .button.type3.type3:hover:before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%;
  }
#boto_contacte{
    margin-left: 38%;
}
#formulari_contacte{
    z-index: 999999999999999999;
}

  @media (max-width:1024px)
{
  #map{
    margin-top: 100px;
    height: 200px;
    width: 100%;
    margin-left: 2%;;
  }
  #boto_contacte{
    margin-left: 25%
  }
}
@media (max-width: 700px) {
    
  #boto_contacte{
    margin-left: 5%;
  }
  .boton_modal{
    width: 300px;
  }
  #contacte{
    width: 330px;
  }
}*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  
}

#contact {
  
  /*background-color: #000;*/
  overflow: hidden;
  /*padding-bottom: 200px;*/
  
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  /*color: #fff;*/
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  width: 100%;
  
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
}
#containerprojecte{
  background-color: whitesmoke;
}
.form-control, textarea {
  width: 400px;
  /*background-color: #000;*/
  /*color: #fff;*/
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
  margin-top: 5px;
  margin-right: 5%;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 30px;
}

.phone {
  margin-left: 30px;
}

.gmail {
  margin-left: 30px;
}

.contact-text a {
  color: #40bfc1;
  font-family: "Poppins", Arial, sans-serif;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #0056b3;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  
}


.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
  color: black;
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(138, 135, 135, 0.8); ;
}
 

/* Begin Media Queries*/

@media screen and (max-width: 1024px) {
  #submit{
    margin-left: 1%;
  }
  #map{
    width: 330px;
    height: 200px;
    margin-left: 9%;
  }
  .contact-list{
    margin-left: -11%;
    width: 400px;
  }
  
.direct-contact-container {
 float: unset;
}
}

@media screen and (max-width: 400px) {
  #map{
    margin-left: unset;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
  #map{
    width: 100% !important;
    margin-left: -1%;
  }
}
@media screen and (max-width: 965px){ 
  #map{
    width: 100% !important;
  }
}
@media (max-width: 1024px) and (min-width: 966px)  {  
  #contact-form{
    margin-left: 28% !important;
  }
}