#carousel-1z{
    width:100% !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 100% !important;
    z-index: 1;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
#carousel-1z .carousel-item{
  height: 300px;
}

#modalprojectes img{
  width: 300px !important;
}

#ultims_projectes{
  font: 300 30x 'Oswald', sans-serif;
  letter-spacing: 6px;
  margin-top: 2%;
}
.work{
  padding-top: unset !important;
  margin-left: unset !important;
  width: 100%;
}
.work .grid{
 /* margin-left: 22% !important;*/
  width: 100%;
}

#carousel1 img{
  height: 200px !important;
  width: 100%;
}
#titol_card{
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 5px;
  letter-spacing: 2px;
}
#tags_card{
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 35px;
  letter-spacing: 2px;
}
#service_card{
  border-right: solid black 1px;
}
#containerprojecte .carousel-control-prev{
  height: 300px;
}
#containerprojecte .carousel-control-next{
  height: 300px;
}
.card{
  margin-top: 10px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 5px 5px 5px grey;
  margin-left: 6%;
}
#containerprojecte{
  background-color: whitesmoke;
}


@media (max-width: 800px) {
  .carousel-caption h1 {
    font-size: 22px;
    font-weight: 600;
    }
    .carousel-caption p {
      font-size: 14px;
    font-weight: 500;
      }
  .card{
    margin-top: 10px;
    background-color: white;
    border: 2px solid white;
    box-shadow: 5px 5px 5px grey;
    /*margin-left: 12%;*/
    justify-content: center;
    /*width: 300px;*/
  }
  #containerprojecte .carousel-control-prev{
    height: 150px;
  }
  #containerprojecte .carousel-control-next{
    height: 150px;
  }
  #carousel1 img{
    width: 100%;
    height: 100%;
  }
  #carousel-1z .carousel-item{
    height: 150px !important;
}
  #carousel-1z{
    margin-left: 1.5%;
  }
  #service{
    margin-left: 3% !important;
    
  }
  .work .grid{
    margin-left: 2% !important;;
  }
}
#carousel1 img{
  width: 100%;
}
.service_card
{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
    margin-top: 6% !important;

}
.service_card:hover
{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
#card_index{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media (max-width: 700px) {
    
#card_index {
   margin-left: unset; 
   margin-right: unset; 
}
.work .grid{
  margin-left: 1% !important;
}

}
@media (max-width: 965px){  
  .work .grid {
    margin-left: 13% !important;
    width: 80% !important;
  }
  #modalprojectes{
    margin-left: 10% !important;
  }
}
@media (max-width: 400px) {
  .work .grid {
    width: 85%
    !important;
  }
  #modalprojectes{
    width: 80% !important;
    margin-left: 4% !important;
  }
  #modalprojectes img{
    width: 250px !important;
  }
  .carousel_index .carousel-caption {
    top: 30px;
}
}
@media (max-width: 975px) {
  #modalprojectes {
    margin-left: 42% !important;
}
  }
@media (max-width: 800px){
  #modalprojectes{
    margin-left: 23% !important;
  }
}
@media (max-width: 400px){
  #modalprojectes{
    margin-left: 10% !important;
  }
  #carousel-1z .carousel-item img{
    height: 300px;
  }
}